.user-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FF8888;
  color: #fff;
  border: 1px solid #E56767;
  border-radius: 50%;
  width: 5.2vh;
  height: 5.2vh;
  font-size: 2.5vh;
  font-weight: 700;
  margin-left: 0.5rem;
  font-family: 'Poppins', Arial, sans-serif;
  letter-spacing: 1px;
} 